{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "reporter": ["lcov", "html", "text", "text-summary"],
  "report-dir": "./coverage",
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.d.ts", "test/**/*.ts", "src/**/*.spec.ts"]
}
